﻿
@model PagedList.IPagedList<KPMG.UI.Models.Accounts>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Software Developer Assignment</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
       Please click the top navigation Home
        
    </div>
   
</div>



<table>
   
        <thead>
            <tr>
                <td>Account </td>
                <td>Description </td>
                <td>CurrencyCode </td>
                <td>Account </td>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.Account</td>
                    <td>@item.Description</td>
                    <td>@item.CurrencyCode</td>
                    <td>@item.Amount</td>
                </tr>
            }

            </tbody>

    </table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index",    new { page }))