﻿@model KPMG.UI.Controllers.resultMessage
@using System.Data

<h2>Upload File</h2>

@using (Html.BeginForm("Upload", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <input type="file" id="dataFile" name="upload" />
    </div>

    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-default" />
    </div>

    if (Model != null)
    {
        <p>Number of Lines Imported : @Model.successCount</p>

        foreach (var error in @Model.errors)
        {
            <p>@error</p>
        }

        
            <table>
                <thead>
                    <tr>
                        <td>Account </td>
                        <td>Description </td>
                        <td>CurrencyCode </td>
                        <td>Account </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.resultAccounts)
                    {
                        <tr>
                            <td>@account.Account</td>
                            <td>@account.Description</td>
                            <td>@account.CurrencyCode</td>
                            <td>@account.Amount</td>
                        </tr>
                    }
                </tbody>
                   
        </table>
      

      
    }
}